.base-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;

  .header {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Comfortaa', cursive;
    margin-top: 3rem;
  }
  .headerlogin {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Comfortaa', cursive;
    margin-top: 3em;
  }

  .content {
    display: flex;
    flex-direction: column;

    .image {
      width: 21em;
      img {
        width: 100%;
        height: 100%;
        margin-top: 35px;
      }
    }

    .form {
      margin-top: 5em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 20px;
        }
        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          color:rgb(26, 24, 24);
          font-size: 16px;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }


  
  .contentlogin {
    display: flex;
    flex-direction: column;

  
    .image {
      width: 21em;
      img {
        width: 100%;
        height: 100%;
        margin-top: 50px;
     
      }
    }

    .form {
      margin-top: 6em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size: 20px;
        }
        input {
          margin-top: 6px;
          min-width: 18em;
          height: 37px;
          padding: 0px 10px;
          font-size: 16px;
          color:rgb(26, 24, 24);
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          border: 0;
          border-radius: 4px;
          margin-bottom: 31px;
          transition: all 250ms ease-in-out;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0px 0px 14px 0.3px #0e81ce96;
          }

          &:focus {
            outline: none;
            box-shadow: 0px 0px 12px 0.8px #3474dbb2;
          }
        }
      }
    }
  }

}


  .footer {
    margin-top: 3em;
  }


  .errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
    margin-top: 0;
  }


